<?xml version="1.0"?>
<config>
    <modules>
        <Training_Autofill>
            <version>0.1.0</version>
        </Training_Autofill>
    </modules>
    <global>
        <models>
            <training_autofill>
                <class>Training_Autofill_Model</class>
                <resourceModel>training_autofill_resource</resourceModel>
            </training_autofill>
            <training_autofill_resource>
                <class>Training_Autofill_Model_Resource</class>
                <entities>
                    <group_set>
                        <table>group_set</table>
                    </group_set>
                    <auto_value>
                        <table>auto_value</table>
                    </auto_value>
                </entities>
            </training_autofill_resource>
        </models>
        <resources>
            <training_autofill_setup>
                <setup>
                    <module>Training_Autofill</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </training_autofill_setup>
        </resources>
        <blocks>
            <training_autofill>
                <class>Training_Autofill_Block</class>
            </training_autofill>
        </blocks>
        <helpers>
            <training_autofill>
                <class>Training_Autofill_Helper</class>
            </training_autofill>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <training_autofill before="Mage_Adminhtml">Training_Autofill_Adminhtml</training_autofill>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <training_autofill>
                    <file>training_autofill.xml</file>
                </training_autofill>
            </updates>
        </layout>
    </adminhtml>
</config>