<?xml version="1.0"?>
<config>
    <modules>
        <Mercuriel_Autofilled>
            <version>0.1.0</version>
        </Mercuriel_Autofilled>
    </modules>
    <global>
        <models>
            <mercuriel_autofilled>
                <class>Mercuriel_Autofilled_Model</class>
                <resourceModel>mercuriel_autofilled_resource</resourceModel>
            </mercuriel_autofilled>
            <mercuriel_autofilled_resource>
                <class>Mercuriel_Autofilled_Model_Resource</class>
                <entities>
                    <att_set_default>
                        <table>att_set_default</table>
                    </att_set_default>
                    <auto_fill>
                        <table>auto_fill</table>
                    </auto_fill>
                </entities>
            </mercuriel_autofilled_resource>
        </models>
        <resources>
            <mercuriel_autofilled_setup>
                <setup>
                    <module>Mercuriel_Autofilled</module>
                </setup>
            </mercuriel_autofilled_setup>
        </resources>
        <blocks>
            <mercuriel_autofilled>
                <class>Mercuriel_Autofilled_Block</class>
            </mercuriel_autofilled>
        </blocks>
        <helpers>
            <mercuriel_autofilled>
                <class>Mercuriel_Autofilled_Helper</class>
            </mercuriel_autofilled>
        </helpers>
    </global>
</config>