<?xml version="1.0"?>
<config>
    <modules>
        <Mercuriel_Autofill>
            <version>0.1.0</version>
        </Mercuriel_Autofill>
    </modules>
    <frontend>
        <routers>
            <autofill>
                <use>standard</use>
                <args>
                    <module>Mercuriel_Autofill</module>
                    <frontName>autofill</frontName>
                </args>
            </autofill>
        </routers>
    </frontend>
    <global>
        <models>
            <mercuriel_autofill>
                <class>Mercuriel_Autofill_Model</class>
                <resourceModel>mercuriel_autofill_resource</resourceModel>
            </mercuriel_autofill>
            <mercuriel_autofill_resource>
                <class>Mercuriel_Autofill_Model_Resource</class>
                <entities>
                    <autofill_set>
                        <table>autofill_set</table>
                    </autofill_set>
                    <autofill_value>
                        <table>autofill_value</table>
                    </autofill_value>
                </entities>

            </mercuriel_autofill_resource>
        </models>
        <resources>
            <mercuriel_autofill_setup>
                <setup>
                    <module>Mercuriel_Autofill</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mercuriel_autofill_setup>
        </resources>
        <blocks>
            <mercuriel_autofill>
                <class>Mercuriel_Autofill_Block</class>
            </mercuriel_autofill>
        </blocks>
        <helpers>
            <mercuriel_autofill>
                <class>Mercuriel_Autofill_Helper</class>
            </mercuriel_autofill>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <mercuriel_autofill before="Mage_Adminhtml">Mercuriel_Autofill_Adminhtml</mercuriel_autofill>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mercuriel_autofill module="mercuriel_autofill">
                    <file>mercuriel_autofill.xml</file>
                </mercuriel_autofill>
            </updates>
        </layout>
    </adminhtml>

</config>