<?xml version="1.0"?>
<config>
    <modules>
        <Autofill_Product>
            <version>0.1.0</version>
        </Autofill_Product>
    </modules>
    <global>
        <models>
            <autofill_product>
                <class>Autofill_Product_Model</class>
                <resourceModel>autofill_product_resource</resourceModel>
            </autofill_product>
            <autofill_product_resource>
                <class>Autofill_Product_Model_Resource</class>
                <entities>
                    <autofill_product>
                        <table>autofill_product</table>
                    </autofill_product>
                </entities>
            </autofill_product_resource>
        </models>
        <resources>
            <autofill_product_setup>
                <setup>
                    <module>Autofill_Product</module>
                    <class>Autofill_Product_Model_Resource_Setup</class>
                </setup>
            </autofill_product_setup>
        </resources>
        <blocks>
            <autofill_product>
                <class>Autofill_Product_Block</class>
            </autofill_product>
        </blocks>
        <helpers>
            <autofill_product>
                <class>Autofill_Product_Helper</class>
            </autofill_product>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <module>
                        <autofill_product after="Mage_Adminhtml">Autofill_Product_Adminhtml</autofill_product>
                    </module>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <autofill_product>
                    <file>autofill_product.xml</file>
                </autofill_product>
            </updates>
        </layout>
    </adminhtml>
</config>